/*
 * Custom CSS
 */
:root {
	--bs-body-bg: var(--bs-gray-100);
	}

canvas {
	max-width: 100%;
	margin: 20px;
	/* border: 1px solid #000; */
	}
.container {
	padding: 20px;
	/* border: 1px solid #000; */
	}

.site-footer {
	background: #E4E8ED;
	padding: 20px;
	font-size: 10pt;
	}

#chart-container {
	padding-top: 30px;
	width:100%;
	}

button {
	border-style: solid solid solid solid; 
	border-image: linear-gradient(45deg,#002856ff,#7A8AA7ff,#A0AF84ff,#FF6666ff, #AA4242ff) 1; 
	font-size: 12pt;
	}

section {
	display: flex;
	justify-content: center;
	}
a {
	text-decoration: none;
	}
